body {
    background-color: rgba(211, 151, 196, 0.808);
    font-family: monospace, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    margin: 20px;
}


.light{
    background-color: rgb(155, 155, 199);
}

.dark{
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
}

.red{
    background-color: rgb(42, 42, 42);
    color: red;
}

img{
    margin-top: 20px;
}

div{
    padding: 20px;
}

.user-list{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

button{
 height: 20px;   
}